{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "minify": true,
        "transpileTemplateLiterals": true,
        "pure": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [{ "name": "removeViewBox", "removeViewBox": false }]
        }
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "pages": "./pages",
          "src": "./src",
          "components": "./src/components",
          "styles": "./src/styles",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
